apiVersion: v1
kind: Service
metadata:
  name: iris-service
  labels:
    app: iris
spec:
  selector:
    app: iris
  type: LoadBalancer
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80

